<div class="product_pages">
  <p id="notice"><%= notice %></p>

  <h1>Your orders</h1>


  <% @orders.each do |order| %>
        <div class="row">
          <p>Order #<%= order.id %>
          <%= order.billing_address %> &nbsp;
          Total: <%= number_to_currency(order.total, :unit => '£') %> <%= link_to 'Details', order_path(order) %></p>
        </div>
    <% end %>

  
</div>