<div class="product_pages">
	<p id="notice"><%= notice %></p>

	<h1>Order #<%= @order.id %></h1>
			<% @line_items.each do |line_item| %>
	        <div class="order_row">
	            	 <strong>Product name: <%= line_item.product.name %></strong>  Quantity: <%= line_item.quantity %>
	            	Price: <%= number_to_currency(line_item.product.price, :unit => '£') %> <small><em>Created: <%= "#{line_item.created_at}" %></em></small>
	            	

	        </div>
	    <% end %>
	    <hr>
	    <div id="order_total"> Order total: <%= number_to_currency(@order.total, :unit => '£') %></div>
	
</div>