<div class="product_show_page">

	<h1>Editing Product</h1>

	<%= render 'form' %>

	<div class="product_link">
		<%= link_to 'Show', @product %>|
		<%= link_to 'Back', products_path %>
		<%= link_to 'Home', static_pages_index_path %>
		<%= link_to 'Gallery', '/static_pages/gallery' %>
	</div>

</div>