<div class="shop_pages">
  <p id="notice"><%= notice %></p>

  <h1>Cacti for sale</h1>
<div class="container">
  <%= form_tag "/products", method: "get", class: 'navbar-form navbar-left' do %>
    <div class="form-group">
        <%= text_field_tag :q, nil, class: 'form-control', placeholder: 'Search by name' %>
    </div>
        <%= submit_tag "Search", class: "btn btn-default" %>
    <% end %>
    <% unless signed_in? %>
      <div class="product_link">
        To buy plants please login.
      </div>
    <% end %>
  <% if signed_in? && current_user.admin? %>
    <div class="product_link">
      <%= link_to 'New Product', new_product_path %>
    </div>
  <% end %>
  </div>

  <div class="container">
    <div class="row">
     
      <% #cache(cache_key_for_products) do %>
        <%= render @products %>
      <% #end %>
    </div>
  </div>
  

</div>